h1 {
    font-size: 10em; 
    letter-spacing: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    color: #F3E1DD;
    text-shadow: -10px 20px #CE796B;

    margin: -10px auto -10px auto;
    /* justify-content: center; */
    /* align-content: center; */
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #2B3A67;
    
}