.tables{
    color: #F3E1DD;
    color
}


h1 {
    font-size: 10em; 
    letter-spacing: -23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    text-align: center;
    
    left: -50px;
    line-height: 200px;
    position: absolute;
    top: 30%;
    width: 100%;

    color: #F3E1DD;
    text-shadow: -10px 20px #CE796B;
    margin: 15px auto -10px auto;
}

h2 {
    font-size: 15em; 
    letter-spacing: -39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
    left: 0;
    line-height: 200px;
    position: absolute;
    top: 50%;
    width: 100%;

    color: #F3E1DD;
    text-shadow: -10px 20px #CE796B;

    margin: -10px auto -10px auto;
    
}
body {
    background-color: #2B3A67;
}



/* animation part */
.animateElements {
    animation: pulse 20s infinite;
    
}

@keyframes pulse {
    0% {
        color: #F3E1DD;
    }

    50% {
        color: #2B3A67;
    }

    100% {
        color: #F3E1DD;
    }


}

